  <section class="bg-1"> 
               <div class="container">
                    <div class="row top-margin"> 
                         <div class="col-md-12"> 
                             <p class="text-heading " style="text-align: center;">Latest Blog </p>
                             <p class="text-paragraph" style="text-align: center;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et is the quasi architecto beatae vitae dicta sunt explicabo.</p>

                         </div>

                    </div>
                    <div class="row">
                            <div class="col-md-4">
                                <div class="latest-blog"> 
                                    <div class="latest-blog-image-block">
                                        <img src="assets/images/post-4@2x.png">

                                    </div>
                                    <div class="latest-blog-text-block"> 
                                        <p  class="latest-blog-date">25th October, 2020</p>
                                        <p class="latest-blog-about">I Used The Web For A Day On A 50 MB Budget</p>
                                        <p class="latest-blog-learn-more"> Lean More</p>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="latest-blog"> 
                                    <div class="latest-blog-image-block">
                                        <img src="assets/images/post-4@2x.png">

                                    </div>
                                    <div class="latest-blog-text-block"> 
                                        <p  class="latest-blog-date">25th October, 2020</p>
                                        <p class="latest-blog-about">I Used The Web For A Day On A 50 MB Budget</p>
                                        <p class="latest-blog-learn-more"> Lean More</p>
                                    </div>

                                </div>
                          </div>
                          <div class="col-md-4">
                                <div class="latest-blog"> 
                                    <div class="latest-blog-image-block">
                                        <img src="assets/images/post-4@2x.png">

                                    </div>
                                    <div class="latest-blog-text-block"> 
                                        <p  class="latest-blog-date">25th October, 2020</p>
                                        <p class="latest-blog-about">I Used The Web For A Day On A 50 MB Budget</p>
                                        <p class="latest-blog-learn-more"> Lean More</p>
                                    </div>

                                </div>
                         </div>
                       
                </div>

               </div>



        </section>
       
